

body{
	display: flex;
    justify-content: center;
	background-color: #c6e5d9;
}
	
	.form_title{
   margin-top: 8vh;
  text-align: center;
  font-weight: normal;
  font-family: "Franklin Gothic Medium", "Franklin Gothic";
  }	
	
	
	.container{
	
		 
	justify-content: center;
    text-align: center;
    width: 65%;
    height: 700px;
    border: solid 1px;
	border-radius: 20px;
	box-shadow: 0 4px 16px #066699;
	font-family: "Franklin Gothic Medium", "Franklin Gothic";
	background-color:#2eb3a1;
	}
	

	
table {
		
    margin: 0 auto;
		
    border-collapse: collapse;
}


  
  table th{
    padding-bottom: 1em;
}

table td {
    padding-right: 1em;
}
  

	


  .text{            
    width: 80em;
    height: 2em;
	padding: 0 0 10px 0;
	background-color: transparent;
	border-bottom: 2px solid #e0e0e0;
	outline:1px ridge rgba(170, 50, 220, .6);
	border-radius: 1rem;
	text-align: center;
 }
 


.number{    
	width: 40em;
    height: 2em;
    background-color: transparent;
	border-bottom: 2px solid #e0e0e0;
	outline:1px ridge rgba(170, 50, 220, .6);
	border-radius: 1rem;
	text-align: center;
}

	
.form_llista{
   
   	
text-align: center;
font-family:"Lobster", cursive;
justify-content:center;
background-color:#2eb3a1;
}
	
#llista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: decimal;
    text-align: center;
    list-style-position: inside;
	font-family:"Lobster", cursive;
}
		

footer > .copyright{
margin-top: 1.5em;
height: 200px;
text-align: center;
justify-content:space-between;
flex: 1 1 auto;

}


button {
    margin-top: 1.5em;
    width: 10.5em;
	height: 2em;
	border-radius: 10px;
	color: black;
	background-color:#ade4b5;
	cursor: pointer;
}
